<!DOCTYPE html>
@using CoffeeNext.Controllers;
@using CoffeeNext.Models;
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/img/favicon1.png")" type="image/png">
    <link href="@Url.Content("~/css/jojo.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>#ВкусноКофе - кофейня Москвы</title>
</head>
<body>
    <header>
        <div class="container" style="max-width: 69.5rem;">
            <div class="row bg-light">
                <div class="col-2">
                    <a href="@Url.Content("~/Home/Index")"><img src="@Url.Content("~/img/newlogo1.png")" width="75" height="72" alt="" id="logo"></a>
                    <br>
                </div>
                <div class="col-10">
                    <nav class="navbar navbar-expand-lg navbar-light  justify-content-end">
                        <button class="navbar-toggler collapsed" type="button" style="max-height: 2.2rem;" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        @if (User.Identity.IsAuthenticated == true)
                        {
                        <button class="navbar-toggler collapsed" style="border: none; opacity: 0.78; ">@Html.ActionLink(" ", "Account", "Home", new { id = Request.Cookies["idCook"].Value }, new { @class = "nav-link collapseExample3 AccIMG" })</button>
                        }
                        @if (User.Identity.IsAuthenticated == false)
                        {
                        <button class="navbar-toggler collapsed" style="border: none; opacity: 0.78; "><a id="toModal" data-toggle="modal" data-target="#exampleModal" href="#"><img src="@Url.Content("https://img.icons8.com/windows/45/000000/gender-neutral-user.png")"></a></button>
                        }
                        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02" style="margin-top: 0.7rem;">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Content("~/Home/Index")">Главная страница</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Content("~/Home/Menu")">Меню</a>
                                </li>
                                <a class="nav-link" href="@Url.Content("~/Home/Adress")">Адреса</a>
                                <li class="nav-item dropdown">
                                    <a class="nav-link  dropdown-toggle" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                                        Обратная связь
                                    </a>
                                    <div class="collapse" id="collapseExample2">
                                        <div class="nav-link collapseExample2" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="nav-link collapseExample2" href="@Url.Content("~/Home/Communicate")">Сотрудничество</a>
                                            <a class="nav-link collapseExample2" href="@Url.Content("~/Home/FeedbackPage")">Отзыв</a>
                                        </div>
                                    </div>
                                </li>
                                @if (User.Identity.IsAuthenticated == true)
                                {
                                    @Html.ActionLink("Личный кабинет", "Account", "Home", new { id = Request.Cookies["idCook"].Value }, new { @class = "nav-link collapseExample3" })

                                }
                                @if (User.Identity.IsAuthenticated == false)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link  dropdown-toggle" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                                            Личный кабинет
                                        </a>
                                        <div class="collapse" id="collapseExample3">
                                            <div class="nav-link collapseExample3" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="nav-link collapseExample3" id="toModal" data-toggle="modal" data-target="#exampleModal" href="#">Авторизация</a>
                                                <a class="nav-link collapseExample3" href="@Url.Content("~/Home/Registration/1")">Регистрация</a>
                                                <a class="nav-link collapseExample3" href="@Url.Content("~/Home/ScoreSystem")">Балловая система</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form class="card card-block m-x-auto bg-faded form-width mx-auto" id="logn" action="/Home/Login" method="post">
                                <h3 class="m-b-1 text-xs-center mx-auto" id="logHeader">Авторизация</h3>
                                <input class="form-control mx-auto" id="logUN" type="text" name="User_Name" placeholder="Логин" required>
                                <input class="form-control mx-auto" id="logPass" type="password" name="Password" placeholder="Пароль" required>
                                <div class="text-xs-center">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block mx-auto" id="LogBut" value="Войти на сайт">
                                </div>
                                <div>
                                    @Html.ActionLink("Нет аккаунта? Зарегестрируйтесь", "Registration", "Home", new { @class = "text-xs-center" })
                                </div>
                            </form>
                            <!--<iframe id="logForm" class="embed-responsive-item my-auto" src="" allowfullscreen></iframe>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <center>
        @RenderBody()
    </center>
    <footer>

        <div class="container" style="background-color: rgba(0, 0, 0, 0.05);max-width: 69.5rem;">
            <div class="row">
                <div class="col-lg-6" id="socicons">
                    <a href="@Url.Content("https://www.instagram.com/vkusnokofe/?utm_source=ig_profile_share&igshid=f04ei0r6kgzd")" class="InstText"><img src="@Url.Content("~/img/iconinsta.png")" class="socicnON">#VKUSNOKOFE</a>
                    <a title="Ещё не готово!"><span title="Ещё не готово!"><img src="@Url.Content("~/img/iconvk.png")" data-toggle="tooltip" class="socicnOFF"></span></a>
                    <a title="Ещё не готово!"><img src="@Url.Content("~/img/iconyoutube.png")" data-toggle="tooltip" class="socicnOFF"></a>
                </div>
                <div class="col-lg-6 ">
                    <div class="text-right" id="txtf">
                        <p id="ftlink" class="ml-auto">м.Курская, Лялин переулок, д.22 <a id="ftlink" href="@Url.Content("https://goo.gl/maps/h58y3vJ2M1L2")"><img src="@Url.Content("~/img/google-maps.png")" class="googleMap"></a></p>
                        <p id="ftlink" class="ml-auto">м.Сухаревская, Панкратьевский переулок, д.2/36 <a class="ml-auto" id="ftlink" href="@Url.Content("https://goo.gl/maps/qP639awkxQq")"><img src="@Url.Content("~/img/google-maps.png")" class="googleMap"></a></p>
                    </div>
                </div>
            </div>
            <hr class="line">
            <div class="blockquote text-center mb-0" style="height:2.5rem">
                <span id="ftyears" class="lead">2018-2019</span>
            </div>
        </div>
    </footer>
    <script src="@Url.Content("https://code.jquery.com/jquery-3.3.1.slim.min.js")" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="@Url.Content("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/Scripts/jquery.mask.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
    <script src="@Url.Content("~/js/jojo.js")"></script>
</body>
</html>
