
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <center>
        <br>
        <div class="container" style="max-width: 69.5rem;">
            <center>
                <img src="@Url.Content("~/img/mMenu3.png")" width="1100" class="menu-lg-img">
                <img src="@Url.Content("~/img/menu/menu-head.png")" id="menu-middle-img-hd" width="700"><br class="menu-br">
                <hr id="menu-middle-img-hd" width="700">
                <img src="@Url.Content("~/img/menu/hotdrinks-headline.png")" id="menu-middle-img-hd" width="700">
                <img src="@Url.Content("~/img/menu/hotdrinks-md.png")" id="menu-middle-img" width="700">
                <img src="@Url.Content("~/img/menu/hotdrinks-sm1.png")" id="menu-small-img" width="400">
                <img src="@Url.Content("~/img/menu/hotdrinks-sm2.png")" id="menu-small-img" width="400">

                <hr id="menu-middle-img-hd" width="700" style="border-style: dotted;">

                <img src="@Url.Content("~/img/menu/colddrinks-headline.png")" id="menu-middle-img-hd" width="700">
                <img src="@Url.Content("~/img/menu/colddrinks-md.png")" id="menu-middle-img" width="700">
                <img src="@Url.Content("~/img/menu/colddrinks-sm1.png")" id="menu-small-img" width="390">
                <img src="@Url.Content("~/img/menu/colddrinks-sm2.png")" id="menu-small-img" width="390">

                <hr id="menu-middle-img-hd" width="700" style="border-style: dotted;">

                <img src="@Url.Content("~/img/menu/delicious-headline.png")" id="menu-middle-img-hd" width="700">
                <img src="@Url.Content("~/img/menu/delicious-md.png")" id="menu-middle-img" width="700">
                <img src="@Url.Content("~/img/menu/delicious-sm1.png")" id="menu-small-img" width="390">
                <img src="@Url.Content("~/img/menu/delicious-sm2.png")" id="menu-small-img" width="390">


                <hr id="menu-middle-img-hd" width="700" style="border-style: dotted;">
                <img src="@Url.Content("~/img/menu/syrups-not-sm.png")" id="menu-middle-img" width="700">
                <img src="@Url.Content("~/img/menu/syrups-sm-headline.png")" id="menu-small-img" width="390">
                <img src="@Url.Content("~/img/menu/syrups-sm1.png")" id="menu-small-img" width="390">
                <img src="@Url.Content("~/img/menu/syrups-sm2.png")" id="menu-small-img" width="390">

                <hr id="menu-middle-img-hd" width="700">
            </center>
            <button type="button" class="btn btn-primary" id="menu-btn"><a href="https://yadi.sk/d/BOF1goLuY8XkSQ" style="text-decoration: none;"><img src="@Url.Content("~/img/logoyandex.png")" style="width: 2.5rem;margin-bottom: 0.5rem; margin-right: 0.4rem;"><span id="textbutton">Скачать Меню</span></a></button>
        </div>
        <br>
    </center>
</body>